__pycache__/
*.pyc

build/*
!build/README.md
!build/build-wasm4-libretro-miyoo.sh
!build/manifest.json
!build/manifest.example.json

package-root/App/WASM4Explorer/cache/*
!package-root/App/WASM4Explorer/cache/.gitkeep
!package-root/App/WASM4Explorer/cache/images/
!package-root/App/WASM4Explorer/cache/meta/
package-root/App/WASM4Explorer/cache/images/*
!package-root/App/WASM4Explorer/cache/images/.gitkeep
package-root/App/WASM4Explorer/cache/meta/*
!package-root/App/WASM4Explorer/cache/meta/.gitkeep
package-root/App/WASM4Explorer/catalog/*
!package-root/App/WASM4Explorer/catalog/.gitkeep
package-root/App/WASM4Explorer/logs/*
!package-root/App/WASM4Explorer/logs/.gitkeep

package-root/Roms/WASM4/*.wasm
package-root/Roms/WASM4/Imgs/*
!package-root/Roms/WASM4/Imgs/.gitkeep
package-root/Roms/WASM4/.wasm4/*
!package-root/Roms/WASM4/.wasm4/.gitkeep
package-root/Roms/WASM4/miyoogamelist.xml
package-root/Roms/WASM4/WASM4_cache*.db
